// @import "./demo";
@import "./keyframes";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #fdfdfd;
  --white-100: #fffdfa;
  --white-200: #f7f2eb;
  --black: #0d0a03;

  --primary-dark: #201932;
  --primary-dark-brand: var(--black);

  --gray: #9c9a9a;
  --gray-dark: #565656;

  --green: #14f094;
  --blue: #54efea;
  --orange: #ff930f;
  --pink: #ea37a3;
  --purple: #683ce4;
  --red: #ff2f49;

  --bg-white: var(--white-200);

  --am-mw-container: calc(1192px + 48px);
}

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  timeline-scope: --section, --main, --hero;
}

body {
  background-color: var(--bg-white, white);
  color: var(--black, black);
}

main {
  view-timeline: --main;
}

section {
  padding-top: 72px;
  padding-bottom: 68px;
  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

#hero {
  padding-top: 0;
  margin: 0 auto;
  position: relative;
  & > .timeline {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    view-timeline: --hero;
  }
}

.am-mw {
  &-bg-gradient {
    background-image: url("/media/bg-pattern.png");
    background-size: 30px 30px;
    background-repeat: repeat;
    background-position: -200px;
  }
  &-header {
    background-image: linear-gradient(
      270deg,
      #0000ff 13.78%,
      #00ff00 48.56%,
      #ff930f 73.39%,
      #ff0000 101.71%
    );
    z-index: 999;
    overflow: hidden;
    animation: headerAppear ease-in-out both;
    animation-timeline: --hero;
    transform-origin: top center;
    &-container {
      margin-bottom: 2px;
      background-color: var(--bg-white);
      &-content {
        position: relative;
        width: min(var(--am-mw-container), 100%);
        margin: 0 auto;
        padding: 24px;
        & > .logo {
          height: 24px;
          aspect-ratio: 206.11/24;
        }
      }
    }
  }
  &-container {
    overflow: hidden;
    position: fixed;
    inset: 0;
    animation: zoom-scroll ease-in-out both;
    animation-timeline: --section;
    margin: 0 auto;
  }
  &-problems {
    width: min(1440px, 100%);
    display: flex;
    @media (max-width: 800px) {
      padding-top: 72px;
      padding-bottom: 68px;
    }
    &-content {
      width: min(calc(1440px - (62px + 72px)), 100%);
      padding: 24px;
      margin: 0 auto;
      @media (min-width: 800px) and (min-height: 900px) {
        height: min(100dvh, 900px);
        margin: auto;
      }
      @media (max-width: 800px) {
        flex-direction: column-reverse;
      }
      & > .title {
        flex: 1;
        position: relative;
        @media (max-width: 800px) {
          flex: unset;
          display: flex;
        }
        & > p {
          font-size: 1.25rem;
          color: var(--gray);
          font-weight: 600;
          line-height: 120%;
          @media (max-width: 800px) {
            margin-top: auto !important;
            text-align: end;
            padding-bottom: 24px;
          }
        }
        & > svg {
          position: absolute;
          inset: 0;
          height: calc(120dvh);
          top: 50%;
          left: 50%;
          aspect-ratio: 1/1;
          transform: translateX(-75%) translateY(-50%);
          @media (min-width: 800px) and (min-height: 901px) {
            height: calc(95dvh);
          }
          @media (max-width: 1240px) {
            transform: translateX(-80%) translateY(-50%);
          }
          @media (max-width: 800px) {
            top: 0;
            transform: translateX(-50%) translateY(-20%) rotate(-90deg);
            height: calc(120dvw);
          }
          & > g {
            transition: opacity 300ms ease-in-out;
            opacity: 0.3;
            transform-origin: center;
            &.g1 {
              animation: var(--p-time) ease-in-out problemBoxG1;
            }
            &.g3 {
              animation: var(--p-time) ease-in-out problemBoxG3;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      & > .statements {
        flex: 2;
        @media (max-width: 800px) and (min-width: 600px) {
          flex: 1;
          width: 100%;
          flex-direction: row !important;
          justify-content: space-around;
          & > button {
            margin: 0 !important;
            &:nth-child(2) {
              transform: translateY(-140%);
            }
          }
        }
        @media (max-width: 600px) {
          flex: 1;
          width: 100%;
          flex-direction: row !important;
          justify-content: space-around;
          transform: translateY(5%);
          & > button {
            margin: 0 !important;
            &:not(:nth-child(2)) {
              transform: translateY(100%);
            }
          }
        }
        & > button {
          font-size: 1.375rem;
          font-weight: 600;
          color: var(--gray);
          &.active {
            color: var(--gray-dark);
          }
          @media (min-width: 800px) {
            margin-left: var(--ms);
          }
        }
      }
      & > .contents {
        flex: 3;
        position: relative;
        @media (max-width: 1240px) {
          flex: 2;
        }
        @media (max-width: 800px) {
          flex: 1;
          width: 100%;
        }
        @media (max-width: 600px) {
          transform: translateY(20%);
        }
        @media (max-width: 600px) and (max-height: 800px) {
          transform: translateY(25%);
        }
        & > * {
          position: absolute;
          inset: 0;
          transition: opacity 1500ms ease-in-out;
          opacity: 0;
          &.active {
            opacity: 1;
          }
          & > .image {
            position: relative;
            width: min(417px, 100%);
            aspect-ratio: var(--i-width, 1) / var(--i-height, 1);
            @media (max-width: 800px) {
              width: min(300px, 100%);
            }
            @media (max-width: 600px) and (max-height: 740px) {
              width: min(200px, 100%);
            }
            & > img {
              width: 100%;
              height: 100%;
            }
            & > .bg {
              position: absolute;
              inset: 0;
              top: 20%;
              left: 50%;
              transform: translateX(-50%);
              width: 120%;
              aspect-ratio: 1/1;
              border-radius: 50%;
              background: var(--p-bg);
              filter: blur(20px);
              z-index: -1;
              opacity: 0.5;
            }
          }
          & > h3 {
            width: min(var(--p-width, 300px), 100%);
            min-height: 4lh;
          }
        }
      }
    }
  }
  &-footer {
    z-index: 999;
    &-line {
      background-image: linear-gradient(
        270deg,
        #0000ff 13.78%,
        #00ff00 48.56%,
        #ff930f 73.39%,
        #ff0000 101.71%
      );
      height: 2px;
    }
    &-container {
      position: relative;
      width: min(var(--am-mw-container), 100%);
      margin: 0 auto;
      padding: 24px;
      & > .logo {
        height: 16px;
        aspect-ratio: 206.11/24;
      }
      & > p {
        font-size: 0.75rem;
      }
    }
  }
}
