// @import "./demo";
@import "./keyframes";
@import "./functions";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@include font("PixeloidMono", "/media/fonts/PixeloidMono.tff", 400);
@include font("PixeloidSans", "/media/fonts/PixeloidSans.tff", 400);
@include font("PixeloidSansBold", "/media/fonts/PixeloidSansBold.tff", 800);

:root {
  --white: #fdfdfd;
  --white-100: #fffdfa;
  --white-200: #f7f2eb;
  --black: #0d0a03;

  --primary-dark: #201932;
  --primary-dark-brand: var(--black);

  --gray: #9c9a9a;
  --gray-dark: #565656;

  --green: #14f094;
  --blue: #54efea;
  --orange: #ff930f;
  --pink: #ea37a3;
  --purple: #683ce4;
  --red: #ff2f49;

  --bg-white: var(--white-200);

  --am-mw-container: calc(1192px + 48px);

  --font-pixeloidmono: PixeloidMono, monospace;
  --font-pixeloidsans: PixeloidSans, monospace;
  --font-pixeloidsans-bold: PixeloidSansBold, monospace;

  --header-height: 64px;
  --footer-height: 68px;
}

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  timeline-scope: --section, --main, --hero;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--bg-white, white);
  color: var(--black, black);
}

main {
  view-timeline: --main;
}
section {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

#hero {
  padding-top: 0;
  margin: 0 auto;
  position: relative;
  & > * {
    z-index: 1;
  }
  & > .timeline {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    view-timeline: --hero;
    z-index: 0;
  }
}

.am-mw {
  &-bg {
    &-gradient {
      &-red-blue {
        background: linear-gradient(
          270deg,
          #14f094 2.85%,
          #683ce4 41.1%,
          #ea37a3 64.45%,
          #ff2f49 83.33%,
          #ff930f 101.71%
        );
      }
    }
    &-grid {
      background-image: url("/media/bg-pattern.png");
      background-size: 30px 30px;
      background-repeat: repeat;
      background-position: -200px;
    }
  }
  &-header {
    &-line {
      background-image: linear-gradient(
        270deg,
        #0000ff 13.78%,
        #00ff00 48.56%,
        #ff930f 73.39%,
        #ff0000 101.71%
      );
      height: 2px;
    }
    z-index: 999;
    overflow: hidden;
    animation: headerAppear ease-in-out both;
    animation-timeline: --hero;
    transform-origin: top center;
    &-container {
      &-content {
        position: relative;
        width: min(var(--am-mw-container), 100%);
        margin: 0 auto;
        padding: 20px 24px 18px;
        & > .logo {
          height: 24px;
          aspect-ratio: 206.11/24;
        }
      }
    }
  }
  &-slideIndicator {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 24px;
    height: 100dvh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    animation: sliderAppear ease-in-out both;
    animation-timeline: --hero;
    transform-origin: center right;
    @media (max-width: 670px) {
      right: 12px;
    }
    & > .indicator {
      width: 16px;
      aspect-ratio: 1/1;
      border: 0.75px solid var(--gray-dark);
      box-sizing: border-box;
      transition: all 500ms ease-in-out;
      background-color: transparent;
      @media (max-width: 600px) {
        width: 12px;
      }
      &.mw-4 {
        border-color: var(--gray);
      }
      &.active {
        transform: rotate(-45deg);
        background-color: var(--indicator-bg);
        border-color: var(--indicator-bg);
      }
    }
  }
  &-container {
    overflow: hidden;
    position: fixed;
    inset: 0;
    animation: zoom-scroll ease-in-out both;
    animation-timeline: --section;
    margin: 0 auto;
  }
  &-hero {
    &-bg {
      width: min(1440px, 100%);
      background-image: url("/media/bgs/hero-bg.png");
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
    }
    width: min(1248px, 100%);
    margin: 0 auto;
    padding: 24px;
    gap: 2rem;
    @media (max-width: 600px) {
      align-items: center;
      & > * {
        text-align: center;
      }
    }
    & > .image-container {
      & > .image {
        width: min(326.34px, 100%);
        aspect-ratio: 326.34/38;
      }
    }
    & > p.links {
      font-size: 1.33rem;
      color: var(--primary-dark);
      font-weight: 400;
      text-decoration: none;
      margin-bottom: 0;
      & > a {
        font-size: 1.33rem;
        color: var(--primary-dark);
        font-weight: 400;
        text-decoration: none;
      }
    }
    & > .arrow-down {
      & > button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 44px;
        aspect-ratio: 44/24;
        position: relative;
      }
    }
  }
  &-work {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding: 24px;
    gap: 2rem;
    & > h2 {
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--gray);
      text-transform: uppercase;
    }
    & > .video {
      width: 100%;
      aspect-ratio: 1192/476;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      @media (max-height: 720px) {
        height: 60dvh;
        width: auto;
      }
      & > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      & > button {
        position: absolute;
        top: 50%;
        left: 50%;
        border: none;
        outline: none;
        border-radius: 50%;
        width: 73px;
        aspect-ratio: 1/1;
        overflow: hidden;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-problems {
    width: min(1440px, 100%);
    display: flex;
    @media (max-width: 800px) {
      padding-top: 72px;
      padding-bottom: 68px;
    }
    &-content {
      width: min(calc(1440px - (62px + 72px)), 100%);
      padding: 24px;
      margin: 0 auto;
      @media (min-width: 800px) and (min-height: 900px) {
        height: min(100dvh, 900px);
        margin: auto;
      }
      @media (max-width: 800px) {
        flex-direction: column-reverse;
      }
      & > .title {
        flex: 1;
        position: relative;
        @media (max-width: 800px) {
          flex: unset;
          display: flex;
        }
        & > p {
          font-size: 1.25rem;
          color: var(--gray);
          font-weight: 600;
          line-height: 120%;
          @media (max-width: 800px) {
            margin-top: auto !important;
            text-align: end;
            padding-bottom: 24px;
          }
        }
        & > svg {
          position: absolute;
          inset: 0;
          height: calc(120dvh);
          top: 50%;
          left: 50%;
          aspect-ratio: 1/1;
          transform: translateX(-55%) translateY(-50%);
          @media (max-width: 1240px) {
            transform: translateX(-58%) translateY(-50%);
          }
          @media (min-width: 800px) and (min-height: 901px) {
            height: calc(95dvh);
            transform: translateX(-63%) translateY(-50%);
          }
          @media (max-width: 800px) {
            top: 0;
            transform: translateX(-50%) translateY(-38%) rotate(-90deg);
            height: calc(120dvw);
          }
          & > g {
            transition: opacity 300ms ease-in-out;
            opacity: 0.3;
            transform-origin: center;
            &.g1 {
              animation: var(--p-time) ease-in-out problemBoxG1;
            }
            &.g3 {
              animation: var(--p-time) ease-in-out problemBoxG3;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      & > .statements {
        flex: 2;
        @media (max-width: 800px) and (min-width: 600px) {
          flex: 1;
          width: 100%;
          flex-direction: row !important;
          justify-content: space-around;
          & > button {
            margin: 0 !important;
            &:nth-child(2) {
              transform: translateY(-140%);
            }
          }
        }
        @media (max-width: 600px) {
          flex: 1;
          width: 100%;
          flex-direction: row !important;
          justify-content: space-around;
          transform: translateY(5%);
          & > button {
            margin: 0 !important;
            &:not(:nth-child(2)) {
              transform: translateY(100%);
            }
          }
        }
        & > button {
          font-size: 1.375rem;
          font-weight: 600;
          color: var(--gray);
          &.active {
            color: var(--gray-dark);
          }
          @media (min-width: 800px) {
            margin-left: var(--ms);
          }
        }
      }
      & > .contents {
        flex: 3;
        position: relative;
        @media (max-width: 1240px) {
          flex: 2;
        }
        @media (max-width: 800px) {
          flex: 1;
          width: 100%;
        }
        @media (max-width: 600px) {
          transform: translateY(20%);
        }
        @media (max-width: 600px) and (max-height: 800px) {
          transform: translateY(25%);
        }
        & > * {
          position: absolute;
          inset: 0;
          transition: opacity 1500ms ease-in-out;
          opacity: 0;
          &.active {
            opacity: 1;
          }
          & > .image {
            position: relative;
            width: min(417px, 100%);
            aspect-ratio: var(--i-width, 1) / var(--i-height, 1);
            @media (max-width: 800px) {
              width: min(300px, 100%);
            }
            @media (max-width: 600px) and (max-height: 740px) {
              width: min(200px, 100%);
            }
            & > img {
              width: 100%;
              height: 100%;
            }
            & > .bg {
              position: absolute;
              inset: 0;
              top: 20%;
              left: 50%;
              transform: translateX(-50%);
              width: 120%;
              aspect-ratio: 1/1;
              border-radius: 50%;
              background: var(--p-bg);
              filter: blur(20px);
              z-index: -1;
              opacity: 0.5;
            }
          }
          & > h3 {
            width: min(var(--p-width, 300px), 100%);
            min-height: 4lh;
          }
        }
      }
    }
  }
  &-assetization {
    display: flex;
    top: var(--header-height);
    bottom: var(--footer-height);
    padding: 24px;

    background-color: var(--bg-white);
    background-image: url("/media/bg-pattern.png"),
      url("/media/bgs/assetization.png");
    background-size: 30px 30px, cover;
    background-position: top left, center;
    background-repeat: repeat, no-repeat;
    @media (max-width: 1024px) and (min-height: 1000px) {
      background-position: top left, 40% 0%;
    }
    @media (max-width: 800px) {
      background-position: top left, 40% 0%;
    }
    @media (max-width: 670px) {
      background-image: url("/media/bg-pattern.png"),
        url("/media/bgs/assetization-tab.png");
      background-position: top left, bottom left;
    }
    &-content {
      height: 100%;
      width: min(1240px, 100%);
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      @media (max-width: 670px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
      & > .content-container {
        grid-column: 1 / span 5;
        display: flex;
        flex-direction: column;
        gap: calc(16px + 3dvh);
        justify-content: center;
        @media (max-width: 670px) {
          grid-column: 1 / span 1;
          grid-row: 2;
          gap: 1rem;
          justify-content: end;
        }
        & > .title {
          font-size: 1.125rem;
          color: var(--gray);
          text-transform: uppercase;
        }
        & > .slider {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          height: 60%;
          padding-left: 3.5dvw;
          @media (max-width: 670px) {
            flex-direction: row;
            padding-left: 0;
            gap: 1rem;
            margin-left: -16px;
            margin-right: -16px;
          }
          & > .arrow {
            background-color: transparent;
            border: none;
            outline: none;
            width: 44px;
            aspect-ratio: 44/24;
            position: relative;
            transform-origin: center;
            @media (max-width: 670px) {
              transform: rotate(-90deg);
            }
            &.dir-up {
              transform: rotate(180deg);
              @media (max-width: 670px) {
                transform: rotate(90deg);
              }
            }
          }
          & > .info {
            height: 100%;
            width: 100%;
            position: relative;
            & > * {
              position: absolute;
              inset: 0;
              transition: opacity 1500ms ease-in-out;
              opacity: 0;
              &.active {
                opacity: 1;
              }
              & > .title {
                display: flex;
                flex-direction: column;
                width: 100%;
                font-size: 1.75rem;
                color: var(--primary-dark);
              }
              & > p {
                font-size: 1rem;
                color: var(--gray-dark);
                width: min(var(--asset-width, 263px), 100%);
                margin: 0;
                margin-right: auto;
                margin-top: 1rem;
                height: 3lh;
              }
            }
          }
        }
      }
      & > .graphics {
        grid-column: 8 / span 9;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        @media (max-width: 670px) {
          grid-column: 1 / span 1;
          grid-row: 1;
        }
        & > .assetization-svg {
          width: 80%;
          aspect-ratio: 1/1;
          @media (min-width: 1140px) and (max-height: 740px) {
            height: 90%;
            width: auto;
          }
          @media (max-width: 670px) {
            height: 90%;
            width: auto;
          }
          // @media (min-width: 1240px) and (max-height: 650px) {
          //   width: 60%;
          // }
          & > .arrow {
            opacity: 0;
            transition: opacity 500ms ease-in-out;
            &.active {
              opacity: 1;
            }
          }
          & > .central-sphere {
            animation: bounce 1000ms ease-in-out infinite alternate;
          }
        }
      }
    }
  }
  &-practice {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding: 24px;
    gap: 2rem;
    position: relative;
    max-height: 100%;
    // padding-top: calc(var(--header-height) + 48px);
    overflow-y: auto;
    & > .title,
    & > .container > .content > .title {
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--gray);
      text-transform: uppercase;
    }
    & > .container {
      display: grid;
      grid-template-columns: 5fr 6fr 5fr;
      gap: 24px;
      @media (max-width: 670px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        // overflow: hidden;
      }
      & > .content {
        position: relative;
        & > .title {
          margin-bottom: 24px;
        }
        & > .arrow {
          position: absolute;
          top: calc(50% + 16px);
          right: 0%;
          transform: translate(20px, -50%) rotate(-90deg);
          background-color: transparent;
          border: none;
          outline: none;
          width: 40px;
          &.dir {
            &-left {
              transform: translate(-20px, -50%) rotate(90deg);
              left: 0;
            }
          }
          @media (min-width: 670px) {
            display: none;
          }
        }
        & > .products {
          @media (max-width: 670px) {
            display: flex;
            flex-direction: row;
            scroll-snap-type: x mandatory;
            width: 100%;
            overflow-x: auto;
            gap: 24px;
          }
          & > .item {
            @media (max-width: 670px) {
              width: 100%;
              min-width: 100%;
              scroll-snap-align: start;
              scroll-snap-stop: always;
              padding-left: 24px;
            }
            & > h4 {
              font-size: 1.375rem;
              letter-spacing: -0.5px;
            }
            & > p {
              font-size: 1rem;
              color: var(--gray);
            }
          }
        }
        &.center {
          display: flex;
          flex-direction: column;
          gap: 24px;
          height: 100%;
          & > .cube {
            flex: 1;
            margin: auto;
            width: min(430px, 100%);
            aspect-ratio: 1/1;
            @media (min-width: 1140px) and (max-height: 740px) {
              // height: 20%;
              width: 70%;
            }
            @media (max-width: 670px) {
              height: auto;
              width: 80%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
              filter: blur(20px);
              // display: none;
            }
            & > img,
            & > video {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
          & > .subscribe {
            width: 100%;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            & > .title2 {
              text-align: center;
              font-size: 1.625rem;
              font-weight: 700;
            }
            & > input {
              border: 1px solid var(--gray);
              width: min(352px, 100%);
              padding: 8px 12px;
              // color: var(--gray);
              font-size: 0.75rem;
              background-color: transparent;
              outline: none;
            }
            & > button {
              border: none;
              outline: none;
              padding: 2px;
              display: flex;
              & > span {
                background-color: var(--bg-white);
                padding: 6px 24px;
              }
            }
          }
        }
      }
    }
  }
  &-footer {
    z-index: 999;
    &-line {
      background-image: linear-gradient(
        270deg,
        #0000ff 13.78%,
        #00ff00 48.56%,
        #ff930f 73.39%,
        #ff0000 101.71%
      );
      height: 2px;
    }
    &-container {
      position: relative;
      width: min(var(--am-mw-container), 100%);
      margin: 0 auto;
      padding: 24px;
      & > .logo {
        height: 16px;
        aspect-ratio: 206.11/24;
      }
      & > p {
        font-size: 0.75rem;
      }
    }
  }
}
